@using PsychToGo.API.DTO;

@model PsychiatristDTO

@{
    ViewData["Title"] = "Edit psychiatrist";
}


<body class="form-body">
    <div class="container-form">
        <div class="title-form">Edit</div>
        <div class="form-content">

            <form method="post" asp-antiforgery="true">
                <input asp-for="Id" hidden />

                <div class="user-details">
                    <div class="input-box-form">
                        <span class="details">Name</span>
                        <input type="text" asp-for="Name" placeholder="Enter name.." value="@Model.Name" required />
                    </div>
                    <div class="input-box-form">
                        <span class="details">Surname</span>
                        <input type="text" asp-for="LastName" placeholder="Enter last name.." value="@Model.LastName" required />
                    </div>
                    <div class="input-box-form">
                        <span class="details">Day of birth</span>
                        <input type="date" asp-for="DateOfBirth" placeholder="Enter your birthday.." value="@Model.DateOfBirth.ToString("yyyy-MM-dd")" min=" 1940-01-01" required />
                    </div>
                    <div class="input-box-form">
                        <span class="details">E-mail</span>
                        <input type="email" asp-for="Email" placeholder="Enter email.." value="@Model.Email" required />
                    </div>
                    <div class="input-box-form">
                        <span class="details">Phone</span>
                        <input type="tel" asp-for="Phone" placeholder="Enter phone.." value="@Model.Phone" required />
                    </div>
                    <div class="input-box-form">
                        <span class="details">Address</span>
                        <input type="text" asp-for="Address" placeholder="Enter address.." value="@Model.Address" required />
                    </div>
                </div>
                <div class="button">
                    <button type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</body>


@section Scripts {
    @{
        await Html.RenderPartialAsync( "_ValidationScriptsPartial" );
    }
}
