@model IEnumerable<PsychToGo.DTO.PsychiatristDTO>

@{
    ViewData["Title"] = "Psychiatrists";
    ViewBag.CurrentUrl = "~/Psychiatrist/Index";
}

<div class="container border p-5 mt-2">
    <h1 class="text-primary">Psychiatrists</h1>
    <hr />
    @*@if (User.IsInRole( "admin" ))
    {}*@
        <p>
            <a class="btn btn-outline-primary" asp-action="CreatePsychiatristMVC">Create New</a>
        </p>
    

    <table class="table table-hover border shadow-lg">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Last name
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                @if (User.IsInRole( "admin" ))
                {
                    <th>
                        Date of birth
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>


                    <th>
                        Operations
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var psychiatrist in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => psychiatrist.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => psychiatrist.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => psychiatrist.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => psychiatrist.Phone)
                    </td>
                    @if (User.IsInRole( "admin" ))
                    {
                        <td>
                            @psychiatrist.DateOfBirth.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => psychiatrist.Address)
                        </td>

                        <td>
                            <a class="btn btn-warning btn-sm" asp-action="EditPsychiatrist" asp-route-id="@psychiatrist.Id">Edit</a>
                            <a class="btn btn-danger btn-sm" asp-action="DeletePsychiatrist" asp-route-id="@psychiatrist.Id">Delete</a>
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>

</div>
