@using PsychToGo.API.DTO;
@model IEnumerable<PsychiatristDTO>

@{
    ViewData["Title"] = "Psychiatrists";
    ViewBag.CurrentUrl = "~/Psychiatrist/Index";
    ViewBag.SortData = "psychiatrist";
}






<form method="get" asp-action="Index">
    <div class="table">
        <div class="table-header">
            <p>PSYCHIATRISTS</p>

            <select class="search-input" name="searchBy">

                @foreach (var fields in ViewBag.SearchFields)
                {
                    if (fields.Key == ViewBag.CurrentSearchBy)
                    {
                        <option value="@fields.Key" selected="selected">@fields.Value</option>
                    }
                    <option value="@fields.Key">@fields.Value</option>
                }
            </select>
            <input type="search" id="search" name="searchString" value="@ViewBag.CurrentSearchString" class="search-input" placeholder="Search.." />
            <button class="add-new"><i class="fa-solid fa-magnifying-glass"></i></button>
            <button class="clear-all" asp-action="Index">Clear all</button>
            @if (User.IsInRole("admin"))
            {
                <button class="add-new" asp-action="CreatePsychiatristMVC"><i class="fa-solid fa-user-plus"></i></button>
            }


        </div>

        <div class="table-section">
            <table>
                <thead>
                    <!-- Here I use sorting that is implemented in partial view-->
                    <tr>
                        @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                        {"ColumnName", nameof(PsychiatristDTO.Name)},
                        {"Display", "Name"},
                        })

                        @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                        {"ColumnName", nameof(PsychiatristDTO.LastName)},
                        {"Display", "Last name"},
                        })

                        @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                        {"ColumnName", nameof(PsychiatristDTO.Email)},
                        {"Display", "Email"},
                        })

                        @if (User.IsInRole("admin") || User.IsInRole("psychologist") || User.IsInRole("psychiatrist"))
                        {

                            <th>
                                Age
                            </th>
                            @if (User.IsInRole("admin"))
                            {
                                <th>
                                    Operations
                                </th>
                            }
                        }
                    </tr>
                </thead>

                <tbody>
                    @foreach (var psychiatrist in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => psychiatrist.Name)
                            </td>
                            <td>
                                <b>@Html.DisplayFor(modelItem => psychiatrist.LastName)</b>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => psychiatrist.Email)
                            </td>

                            @if (User.IsInRole("admin") || User.IsInRole("psychologist") || User.IsInRole("psychiatrist"))
                            {

                                <td>
                                    @Math.Round((DateTime.Now - psychiatrist.DateOfBirth).TotalDays / 365.25)
                                </td>

                                @if (User.IsInRole("admin"))
                                {
                                    <td class="operations-index">
                                        <button asp-action="PsychiatristDetails" asp-route-id="@psychiatrist.Id"><i class="fa-solid fa-book-open"></i></button>
                                        <button asp-action="EditPsychiatrist" asp-route-id="@psychiatrist.Id"><i class="fa-solid fa-pen-to-square"></i></button>
                                        <button asp-action="DeletePsychiatrist" asp-route-id="@psychiatrist.Id" value=""><i class="fa-solid fa-trash-can"></i></button>

                                    </td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</form>







