@using PsychToGo.API.DTO;
@model IEnumerable<PsychologistDTO>

@{
    ViewData["Title"] = "Psychologists";
    ViewBag.CurrentUrl = "~/Psychologist/Index";
    
}

<head>
    <link rel="stylesheet" href="~/PsychToGo.Client.styles.css" asp-append-version="true" />
</head>

<form method="get" asp-action="Index">

    <h1 class="text-center">PSYCHOLOGISTS</h1>
    <div class="search-box flex">
        <div class="flex-1">
            <select class="search-input" name="searchBy">
                @foreach (var fields in ViewBag.SearchFields)
                {
                    if (fields.Key == ViewBag.CurrentSearchBy)
                    {
                        <option value="@fields.Key" selected="selected">@fields.Value</option>
                    }
                    <option value="@fields.Key">@fields.Value</option>
                }
            </select>
            <input type="search" id="search" name="searchString" value="@ViewBag.CurrentSearchString" class="search-input" placeholder="Search.." />
            <button class="btn btn-dark">Search</button>
            <a class="btn btn-danger" asp-action="Index">Clear all</a>
            @if (User.IsInRole("admin"))
            {
                <a class="btn btn-primary" asp-action="CreatePsychologistMVC">Create</a>
            }
        </div>




        <table class="table table-hover border shadow-lg">
            <thead>
                <!-- Here I use sorting as with partial view-->
                <tr>
                    @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                    {"ColumnName", nameof(PsychologistDTO.Name)},
                    {"Display", "Name"},
                    })

                    @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                    {"ColumnName", nameof(PsychologistDTO.LastName)},
                    {"Display", "Last name"},
                    })

                    @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                    {"ColumnName", nameof(PsychologistDTO.Email)},
                    {"Display", "Email"},
                    })

                    @if (User.IsInRole("admin"))
                    {

                            <th>
                                Operations
                            </th>

                    }

                </tr>
            </thead>
            <tbody>
                @foreach (var psychologist in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => psychologist.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => psychologist.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => psychologist.Email)
                        </td>

                        @if (User.IsInRole("admin"))
                        {

                            <td class="operations-index">
                                <a class="btn btn-info" asp-action="PsychologistDetails" asp-route-id="@psychologist.Id">Details</a>
                                <a class="btn btn-warning " asp-action="EditPsychologist" asp-route-id="@psychologist.Id">Edit</a>
                                <a class="btn btn-danger " asp-action="DeletePsychologist" asp-route-id="@psychologist.Id">Delete</a>

                            </td>
                        }

                    </tr>
                }
            </tbody>
        </table>

    </div>
</form>