
@using PsychToGo.API.DTO;

@model MedicineDTO

@{
    ViewData["Title"] = "Edit medicine";
}


<body class="form-body">
    <div class="container-form">
        <div class="title-form">Edit</div>
        <div class="form-content">

            <form method="post" asp-antiforgery="true">
                <input asp-for="Id" hidden />

                <div class="user-details">
                    <div class="input-box-form">
                        <span class="details">Name</span>
                        <input type="text" asp-for="Name" placeholder="Enter name.." value="@Model.Name" required />
                    </div>
                    <div class="input-box-form">
                        <span class="details">Category Id</span>
                        <input asp-for="CategoryId" type="number" value="@Model.CategoryId" required />
                    </div>

                    <div class="input-box-form">
                        <span class="details">Production Date</span>
                        <input asp-for="ProductionDate" max="@DateTime.Today.ToString("yyyy-MM-dd")" type="date" value="@Model.ProductionDate.ToString("yyyy-MM-dd")" required />
                    </div>

                    <div class="input-box-form">
                        <span class="details">Expire Date</span>
                        <input asp-for="ExpireDate" min="@DateTime.Today.ToString("yyyy-MM-dd")" type="date" value="@Model.ExpireDate.ToString("yyyy-MM-dd")" required />
                    </div>
                    <div class="input-box-form">
                        <span class="details">Daily Dose</span>
                        <input asp-for="DailyDose"  type="number" value="@Model.DailyDose" required />
                    </div>
                    <div class="input-box-form">
                        <span class="details">In Stock</span>
                        <input asp-for="InStock"  type="number" value="@Model.InStock" required />
                    </div>
                    <div class="input-box-form">
                        <span class="details">Description</span>

                        <textarea type="text" asp-for="Description" placeholder="Enter description..." rows="4" value="@Model.Description" required></textarea>
                    </div>
                    <div class="input-box-form">
                        <span class="details">Ingredients</span>
                        <textarea type="text" asp-for="Ingredients" placeholder="Enter ingredients..." rows="4" value="@Model.Ingredients" required></textarea>
                    </div>

                     
                </div>
                <div class="button">
                    <button type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync( "_ValidationScriptsPartial" );
    }
}
