@using PsychToGo.DTO;

@model MedicineDTO

@{
    ViewData["Title"] = "Edit medicine";
}

<h1 class="text-primary text-center">Edit <b>@Model.Name </b></h1>
<hr />

<body>
    <form class="form-create" method="post" asp-antiforgery="true">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Id" hidden />

       <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" class="form-control" value="@Model.Name" required />
        <span asp-validation-for="Name" class="text-danger"></span>

        <label asp-for="Description" class="control-label">Description</label>
        <textarea asp-for="Description" rows="4" class="form-control" value="@Model.Description" required></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>

        <label asp-for="ProductionDate" class="control-label">Production date</label>
        <input asp-for="ProductionDate" max="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" type="date" value="@Model.ProductionDate.ToString("yyyy-MM-dd")" required />
        <span asp-validation-for="ProductionDate" class="text-danger"></span>

         <label asp-for="ExpireDate" class="control-label">Expire date</label>
        <input asp-for="ExpireDate" min="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" type="date" value="@Model.ExpireDate.ToString("yyyy-MM-dd")" required />
        <span asp-validation-for="ExpireDate" class="text-danger"></span>

        <label asp-for="DailyDose" class="control-label"></label>
        <input asp-for="DailyDose" class="form-control" type="number" value="@Model.DailyDose" required />
        <span asp-validation-for="DailyDose" class="text-danger"></span>

        <label asp-for="InStock" class="control-label"></label>
        <input asp-for="InStock" class="form-control" type="number" value="@Model.InStock" required />
        <span asp-validation-for="InStock" class="text-danger"></span>

        <label asp-for="CategoryId" class="control-label">Category</label>
        <input asp-for="CategoryId" class="form-control" type="number" required />

        <label asp-for="Ingredients" class="control-label">Ingredients</label>
        <textarea asp-for="Ingredients" rows="4" class="form-control" type="text" value="@Model.Ingredients" required></textarea>
        <span asp-validation-for="Ingredients" class="text-danger"></span>

        <button asp-action="EditMedicine" class="btn btn-outline-warning">Edit</button>
        <a class="btn btn-outline-primary" asp-action="Index">Back</a>

    </form>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync( "_ValidationScriptsPartial" );
    }
}
