@using PsychToGo.API.DTO;
@model IEnumerable<MedicineDTO>


@{
    ViewData["Title"] = "Medicines";
    ViewBag.CurrentUrl = "~/Medicines/Index";
    ViewBag.SortData = "medicine";
}



<form method="get" asp-action="Index">
    <div class="table">
        <div class="table-header">
            <p>MEDICINES</p>
            <div>


                <select class="search-input" name="searchBy">

                    @foreach (var fields in ViewBag.SearchFields)
                    {
                        if (fields.Key == ViewBag.CurrentSearchBy)
                        {
                            <option value="@fields.Key" selected="selected">@fields.Value</option>
                        }
                        <option value="@fields.Key">@fields.Value</option>
                    }
                </select>
                <input type="search" id="search" name="searchString" value="@ViewBag.CurrentSearchString" class="search-input" placeholder="Search.." />
                <button class="add-new"><i class="fa-solid fa-magnifying-glass"></i></button>
                <button class="clear-all" asp-action="Index">Clear all</button>
                

            </div>
            @if (User.IsInRole("admin"))
            {
                <button class="add-new" asp-action="CreateMedicineMVC"><i class="fa-solid fa-user-plus"></i></button>
            }
        </div>

        <div class="table-section">
            <table>
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.ProductionDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ExpireDate)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.InStock)
                        </th>
                        <th>
                            Operations
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var medicines in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => medicines.Name)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => medicines.ProductionDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => medicines.ExpireDate)
                            </td>


                            <td>
                                @Html.DisplayFor(modelItem => medicines.InStock)
                            </td>

                            @if (User.IsInRole("admin") || User.IsInRole("psychologist") || User.IsInRole("psychiatrist"))
                            {

                                @if (User.IsInRole("admin"))
                                {
                                    <td class="operations-index">
                                        <button asp-action="MedicineDetails" asp-route-id="@medicines.Id"><i class="fa-solid fa-book-open"></i></button>
                                        <button asp-action="EditMedicine" asp-route-id="@medicines.Id"><i class="fa-solid fa-pen-to-square"></i></button>
                                        <button asp-action="DeleteMedicine" asp-route-id="@medicines.Id" value=""><i class="fa-solid fa-trash-can"></i></button>

                                    </td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</form>