@model PsychToGoMVC.Models.PatientViewModel

@{
    ViewData["Title"] = "Create Patient";
}

<h1 class="text-center text-black">Create Patient</h1>


<hr />
<body>
    <form class="form-create" method="post" asp-antiforgery="true">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Id" hidden />

        <label asp-for="Name" class="control-label">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Enter name" type="text" required />       
        <span asp-validation-for="Name" class="text-danger"></span>

        <label asp-for="LastName" class="control-label">Last name</label>
        <input asp-for="LastName" class="form-control" placeholder="Enter last name" type="text" required />        
        <span asp-validation-for="LastName" class="text-danger"></span>

        <label asp-for="Email" class="control-label">E-mail</label>
        <input asp-for="Email" class="form-control" placeholder="Enter e-mail" type="email" required />        
        <span asp-validation-for="Email" class="text-danger"></span>

        <label asp-for="Phone" class="control-label">Phone</label>
        <input asp-for="Phone" class="form-control" placeholder="Enter phone number" type="tel" required />       
        <span asp-validation-for="Phone" class="text-danger"></span>

        <label asp-for="DateOfBirth" class="control-label">Date of birth</label>
        <input asp-for="DateOfBirth" min="1960-01-01" max="2023-01-01" placeholder="Enter date of birth" class="form-control" type="date" required />       
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>

        <label asp-for="Address" class="control-label">Address</label>
        <input asp-for="Address" class="form-control" type="text" placeholder="Enter address" name="Address" required />        
        <span asp-validation-for="Address" class="text-danger"></span>

        @Html.LabelFor(model => model.PsychologistId, "Psychologist")
        @Html.DropDownListFor(model => model.PsychologistId, new SelectList(Model.Psychologists, "Id","Name"),"- Select - ")

        @Html.LabelFor(model => model.PsychiatristId, "Psychiatrist")
        @Html.DropDownListFor(model => model.PsychiatristId, new SelectList(Model.Psychiatrists, "Id","Name"),"- Select - ")

        @Html.LabelFor(model => model.MedicinesId, "Medicines")
        <div>
            @Html.ListBoxFor(model => model.MedicinesId, new MultiSelectList(Model.Medicines, "Id","Name"))
        </div>


        <button asp-action="CreatePatientMVC" class="btn btn-outline-primary">Create</button>
        <a class="btn btn-outline-primary " asp-action="Index">Back</a>
    </form>
</body>



@section Scripts {
    @{
        await Html.RenderPartialAsync( "_ValidationScriptsPartial" );
    }
}
