@using PsychToGo.DTO;
@using PsychToGo.Models;
@model PatientViewModel

@{
    ViewData["Title"] = "Edit patient";
    PsychiatristDTO psychiatrist = @Model.Psychiatrists.FirstOrDefault();
    PsychologistDTO psychologist = @Model.Psychologists.FirstOrDefault();

}

<h1 class="text-center">Edit <u><b>@Model.Name @Model.LastName</b></u></h1>
<hr />

<body>
    <form class="form-create" method="post" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" hidden />

        <label asp-for="Name" class="control-label">Name</label>
        <input asp-for="Name" class="form-control" value="@Model.Name" />
        

        <label asp-for="LastName" class="control-label">Last name</label>
        <input asp-for="LastName" class="form-control" value="@Model.LastName" />
        

        <label asp-for="Email" class="control-label">E-mail</label>
        <input asp-for="Email" class="form-control" type="email" value="@Model.Email" />
        

        <label asp-for="Phone" class="control-label">Phone</label>
        <input asp-for="Phone" class="form-control" type="tel" value="@Model.Phone" />
        

        <label asp-for="DateOfBirth" class="control-label ">Date of birth</label>
        <input asp-for="DateOfBirth" class="form-control" type="date" value="@Model.DateOfBirth.ToString("yyyy-MM-dd")" min=" 1960-01-01" />
        

        <label asp-for="Address" class="control-label">Address</label>
        <input asp-for="Address" class="form-control" value="@Model.Address" />
        

        <label asp-for="Psychologists" class="control-label"></label>
        <input asp-for="Psychologists" class="form-control" value="@psychologist.Name @psychologist.LastName" readonly />

                    
        <label asp-for="Psychiatrists" class="control-label"></label>
        <input asp-for="Psychiatrists" class="form-control" value="@psychiatrist.Name @psychiatrist.LastName" readonly/>

        <label class="text-danger">Just for display. You can't edit medicines.'</label>
        @Html.ListBoxFor(model => model.MedicinesId, new MultiSelectList(Model.Medicines, "Id","Name"))

        <button asp-action="AssignPsychiatristMVC" class="btn btn-outline-warning mt-2">Edit</button>
    </form>
</body>


@section Scripts {
    @{
        await Html.RenderPartialAsync( "_ValidationScriptsPartial" );
    }
}
