@model IEnumerable<PsychToGoMVC.Models.PatientViewModel>

@{
    ViewData["Title"] = "Patients";
    ViewBag.CurrentUrl = "~/Patients/Index";
}

<div class="container border p-5">
    <h1 class="text-primary">Patients</h1>
    <hr />
    <p>
        <a class="btn btn-outline-primary" asp-action="CreatePatientMVC">Create New</a>
    </p>
    <table class="table table-hover border shadow-lg ">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                @if (User.IsInRole( "admin" ) || User.IsInRole( "psychologist" ) || User.IsInRole( "psychiatrist" ))
                {
                    <th>
                        @Html.DisplayNameFor(model => model.DateOfBirth)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        Operations
                    </th>
                }

            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => patient.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => patient.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => patient.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => patient.Phone)
                    </td>
                    @if (User.IsInRole( "admin" ) || User.IsInRole( "psychologist" ) || User.IsInRole( "psychiatrist" ))
                    {
                        <td>
                            @patient.DateOfBirth.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => patient.Address)
                        </td>
                        <td>
                            <a class="btn btn-warning btn-sm" asp-action="EditPatient" asp-route-id="@patient.Id">Edit</a>
                            <a class="btn btn-danger btn-sm" asp-action="DeletePatient" asp-route-id="@patient.Id">Delete</a>
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>

</div>
