@model IEnumerable<PsychToGo.Client.Models.PatientViewModel>

@{
    ViewData["Title"] = "Patients";
    ViewBag.CurrentUrl = "~/Patients/Index";
}


<head>
    <link rel="stylesheet" href="~/PsychToGo.Client.styles.css" asp-append-version="true" />
</head>

<form method="get" asp-action="Index">

    <div class="container p-2 m-2">
    </div>
    <h1 class="text-center">PATIENTS</h1>
    <div class="search-box flex">
        <div class="flex-1">
            <select class="search-input" name="searchBy">
                @foreach (var fields in ViewBag.SearchFields)
                {
                    if (fields.Key == ViewBag.CurrentSearchBy)
                    {
                        <option value="@fields.Key" selected="selected">@fields.Value</option>
                    }
                    <option value="@fields.Key">@fields.Value</option>
                }
            </select>
            <input type="search" id="search" name="searchString" value="@ViewBag.CurrentSearchString" class="search-input" placeholder="Search.." />
            <button class="btn btn-dark">Search</button>
            <a class="btn btn-danger" asp-action="Index">Clear all</a>
        </div>
        <hr />
        @if (User.IsInRole( "admin" ))
        {
            <p>
                <a class="btn btn-outline-primary" asp-action="CreatePatientMVC">Add</a>
            </p>
        }
        
        <table class="table table-hover border shadow-lg text-black">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        Last name
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    @if (User.IsInRole( "admin" ) || User.IsInRole( "psychologist" ) || User.IsInRole( "psychiatrist" ))
                    {
                        <th>
                            Date of birth
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        @if (User.IsInRole( "admin" ))
                        {
                            <th>
                                Operations
                            </th>
                        }

                    }

                </tr>
            </thead>
            <tbody>
                @foreach (var patient in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => patient.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => patient.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => patient.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => patient.Phone)
                        </td>
                        @if (User.IsInRole( "admin" ) || User.IsInRole( "psychologist" ) || User.IsInRole( "psychiatrist" ))
                        {
                            <td>
                                @patient.DateOfBirth.ToString("yyyy-MM-dd")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => patient.Address)
                            </td>
                            @if (User.IsInRole( "admin" ))
                            {
                                <td>
                                    <a class="btn btn-warning btn-sm" asp-action="EditPatient" asp-route-id="@patient.Id">Edit</a>
                                    <a class="btn btn-danger btn-sm" asp-action="DeletePatient" asp-route-id="@patient.Id">Delete</a>
                                </td>
                            }

                        }

                    </tr>
                }
            </tbody>
        </table>

    </div>
</form>