@using PsychToGo.API.Models;
@using PsychToGo.API.DTO;
@model PatientViewModel

@{
    ViewData["Title"] = "Details";

}





<body class="form-body">
    <div class="container-details">
        <div class="title-form">Details</div>
        <div class="form-content">

            <div class="user-details">
                <div class="input-box-form">
                    <span class="details">Name</span>
                    <input type="text" asp-for="Name" value="@Model.Name" readonly />
                </div>
                <div class="input-box-form">
                    <span class="details">Surname</span>
                    <input type="text" asp-for="LastName" value="@Model.LastName" readonly />
                </div>
                <div class="input-box-form">
                    <span class="details">Day of birth</span>
                    <input type="date" asp-for="DateOfBirth" value="@Model.DateOfBirth.ToString("yyyy-MM-dd")" min="1960-01-01" readonly />
                </div>
                <div class="input-box-form">
                    <span class="details">E-mail</span>
                    <input type="email" asp-for="Email" value="@Model.Email" readonly />
                </div>
                <div class="input-box-form">
                    <span class="details">Phone</span>
                    <input type="tel" asp-for="Phone" value="@Model.Phone" readonly />
                </div>
                <div class="input-box-form">
                    <span class="details">Address</span>
                    <input type="text" asp-for="Address" value="@Model.Address" readonly />
                </div>               
                </div>
            </div>
        </div>

</body>

 @await Component.InvokeAsync("DoctorsDetails");


