@model PatientViewModel

@{
    ViewData["Title"] = "Profile info";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="text-primary text-center">Profile</h1>
            <hr />
          
            <input asp-for="Id" hidden />

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Name</label>
                        <input asp-for="Name" class="form-control" value="@Model.Name" readonly />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label">Last name</label>
                        <input asp-for="LastName" class="form-control" value="@Model.LastName" readonly />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">E-mail</label>
                        <input asp-for="Email" class="form-control" type="email" value="@Model.Email" readonly />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label">Phone</label>
                        <input asp-for="Phone" class="form-control" type="tel" value="@Model.Phone" readonly />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="DateOfBirth" class="control-label ">Date of birth</label>
                        <input asp-for="DateOfBirth" class="form-control" type="date" value="@Model.DateOfBirth.ToString("yyyy-MM-dd")" min="1960-01-01" readonly />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Address" class="control-label">Address</label>
                        <input asp-for="Address" class="form-control" value="@Model.Address" readonly />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <h4>Assigned Psychologists:</h4>
                        <ul>
                            @foreach (var psychologist in Model.Psychologists)
                            {
                                <li>@psychologist.Name @psychologist.LastName</li>
                                <li>@psychologist.Phone</li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <h4>Assigned Psychiatrists:</h4>
                        <ul>
                            @foreach (var psychiatrist in Model.Psychiatrists)
                            {
                               <li>@psychiatrist.Name @psychiatrist.LastName </li>
                               <li>@psychiatrist.Phone</li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Assigned Medicines:</h4>
                    <ul>
                        @foreach (var medicine in Model.Medicines)
                        {
                            <li>@medicine.Name Daily dose: </li>
                            <li>@medicine.DailyDose</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
